header{
    background-color: #acaaaa;
    text-align: center;
    font-family: sans-serif;
    margin: 1px;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
header img{
    width: 200px;
    height: 200px;
    margin-right: auto;
}
header div{
    text-align: center;
    flex: 1;
}
h1{
    color: #000;
    font-size: 2em;
}
h2{
    color: #000;
    font-size: 1.8em;
}
h3{
    color: #000;
    font-size: 1.5em;
}
@media(max-width: 600px){
    header{
        flex-direction: colum;
        text-align: center;
    }
    header img{
        margin-right: 0;
        margin-bottom: 10px;
    }
    header div{
        text-align: center;
    }
}
nav {
    background-color: bisque;
    font-size: medium;
    text-align: center;
    margin: 0;
    padding: 5px;
}
nav ul{
    list-style-type: none;
}
nav li{
    display: inline;
    margin: 0px 1px 0px 0px;
}
nav li a{
    padding: 2px 7px 2px;
    color: #000;
    border: 1px solid #4e4b4b;
    border-radius: 80px;
    text-decoration: none;
}
nav li a:hover{
    background-color: #acaaaa;
    color: azure;
    text-decoration: none;
}
aside{
    width: 20%;
    margin-left: 15px;
    margin-top: 25px;
    padding: 10px;
    float: left;
    font-size: 1.5em;
}
footer{
    width: 95%;
    clear: both;
    margin-left: 15px;
    margin-top: 25px;
    padding: 10px;
    font-size: 0.5em;
}
aside ul{
    list-style-type: none;
}